{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Protokollübersicht</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Chiffre</th>
                <th scope="col">Letztes Protokoll</th>
                <th scope="col">Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for protocol in protocols %}
                <tr>
                    <td>{{ protocol.chiffre }}</td>
                    <td>
                        {% if protocol.latest_timestamp %}
                            {% set timestamp = protocol.latest_timestamp | to_datetime %}
                            {{ timestamp.strftime('%d.%m.%Y %H:%M') }}
                        {% else %}
                            Kein Eintrag
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('protocols_by_chiffre', chiffre=protocol.chiffre) }}" class="btn btn-info">Details</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('protocols') }}" class="btn btn-secondary">Protokolle anzeigen</a>
</div>
{% endblock %}
